<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;">
    <title>耗材监控</title>

    <link href="/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet">
    <link href="/boostrapselect/bootstrap-select.min.css" rel="stylesheet">
    <link href="/bootstraptime/bootstrap-datetimepicker.min.css" rel="stylesheet">

    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="container-fluid">
    <div class="row" style="margin-top: 20px ;margin-bottom: 20px">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">
                        <span>首页</span>
                    </a>
                </div>
            </div>
        </nav>
    </div>
    <div class="row" style="margin-top: 20px ;margin-bottom: 20px">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="list-group">
                <a target="_blank" href="/consumable/consumablemonitor" class="list-group-item">耗材监控</a>
                <a target="_blank" href="/consumable/consumablesitem/show" class="list-group-item">耗材类目管理</a>
                <a target="_blank" href="/consumable/consumablesspecification/show" class="list-group-item">耗材规格管理</a>
                <a target="_blank" href="/consumable/consumablepurchase/show" class="list-group-item">耗材入库管理</a>
                <a target="_blank" href="/consumable/consumableconsumption/show" class="list-group-item">耗材出库管理</a>
            </ul>
        </div>
    </div>


</div>
</body>
<script src="/jquery-3.4.1.min.js"></script>
<script src="/echarts.min.js"></script>
<script src="/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
<script src="/boostrapselect/bootstrap-select.js"></script>
<script src="/bootstraptime/bootstrap-datetimepicker.js"></script>
<script src="/bootstraptime/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<script>
    $(function () {



    });


</script>

</html>